.header {
  position: fixed;
  top: 1rem;
  z-index: 100;

  &.is-fixed {
    .header-box__logo {
      width: 15rem;
    }
    .header-box__menu-handler {
      opacity: 1;
      visibility: visible;
    }

    .header-box__row {
      &:first-child {
        border-color: rgba(255, 255, 255, 0);
      }
    }
  }
}

.header-box {
  width: 31rem;

  &__logo {
    width: 100%;
    transition: 0.3s ease-in-out;
  }

  &__menu-handler {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    path {
      transition: 0.3s ease-in-out;
      transform-origin: center;
    }

    &.is-active {
      .horizontal {
        opacity: 0;
        transform: translate(-100%, 0);
      }

      .vertical {
        transform: rotate(90deg);
      }
    }
  }

  &__mail-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    circle {
      transition: 0.3s ease;
    }

    &:hover {
      circle {
        fill: var(--c-black);

        &:nth-child(1) {
          cx: 22;
        }
        &:nth-child(2) {
          cx: 25;
        }
      }
    }
  }

  &__row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    position: relative;

    &:first-child {
      z-index: 5;
    }

    &.is-hidden {
      transform: translate(0, 100%);
      opacity: 0;
      visibility: hidden;
    }
  }
}
