<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page about-page container">
      <div class="about-page__start-content">
        <div class="about-page__start-content-description">
          in umbra — агентство цифрового дизайна с невероятными навыками разработки — необычная студия. Мы небольшая,
          шустрая команда, и уже более десяти лет мы действуем выше своих возможностей.
        </div>
        <div class="about-page__start-content-image"><img src="./img/about-1.jpg" alt="" class="fit-cover" /></div>
      </div>

      <div class="about-page__title-section">
        <div class="about-page__title">Made in Belarus</div>
        <div>
          <svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M39.0469 33C39.0469 42.0642 38.2616 50.2409 37.0049 56.1257C36.3749 59.0763 35.6373 61.3971 34.8503 62.956C34.456 63.7371 34.0742 64.2761 33.7283 64.6075C33.3866 64.935 33.1466 65 33 65C32.8534 65 32.6134 64.935 32.2717 64.6075C31.9258 64.2761 31.544 63.7371 31.1497 62.956C30.3627 61.3971 29.6251 59.0763 28.9951 56.1257C27.7384 50.2409 26.9531 42.0642 26.9531 33C26.9531 23.9358 27.7384 15.7591 28.9951 9.87431C29.6251 6.92373 30.3627 4.60288 31.1497 3.04399C31.544 2.26295 31.9258 1.72388 32.2717 1.39246C32.6134 1.06505 32.8534 1 33 1C33.1466 1 33.3866 1.06505 33.7283 1.39246C34.0742 1.72388 34.456 2.26295 34.8503 3.04399C35.6373 4.60288 36.3749 6.92373 37.0049 9.87431C38.2616 15.7591 39.0469 23.9358 39.0469 33Z"
              stroke="white"
              stroke-width="2"
            />
            <path
              d="M53.6562 32.9995C53.6562 40.3359 53.3875 46.9646 52.9555 51.7473C52.7499 54.0239 52.5096 55.8558 52.25 57.1388C51.9905 55.8558 51.7501 54.0239 51.5445 51.7473C51.1125 46.9646 50.8438 40.3359 50.8438 32.9995C50.8438 25.6631 51.1125 19.0344 51.5445 14.2517C51.7501 11.9752 51.9904 10.1432 52.25 8.86018C52.5095 10.1432 52.7499 11.9752 52.9555 14.2517C53.3875 19.0344 53.6562 25.6631 53.6562 32.9995Z"
              stroke="white"
              stroke-width="2"
            />
            <path
              d="M15.1562 32.9995C15.1562 40.3359 14.8875 46.9646 14.4555 51.7473C14.2499 54.0239 14.0096 55.8558 13.75 57.1388C13.4905 55.8558 13.2501 54.0239 13.0445 51.7473C12.6125 46.9646 12.3438 40.3359 12.3438 32.9995C12.3438 25.6631 12.6125 19.0344 13.0445 14.2517C13.2501 11.9752 13.4904 10.1432 13.75 8.86018C14.0095 10.1432 14.2499 11.9752 14.4555 14.2517C14.8875 19.0344 15.1562 25.6631 15.1562 32.9995Z"
              stroke="white"
              stroke-width="2"
            />
            <path
              d="M33 39.0464C23.9358 39.0464 15.7591 38.2611 9.87431 37.0045C6.92373 36.3744 4.60288 35.6368 3.04399 34.8498C2.26295 34.4555 1.72388 34.0737 1.39246 33.7278C1.06505 33.3862 1 33.1461 1 32.9995C1 32.8529 1.06505 32.6129 1.39246 32.2712C1.72388 31.9253 2.26295 31.5436 3.04399 31.1492C4.60288 30.3622 6.92373 29.6246 9.87431 28.9946C15.7591 27.7379 23.9358 26.9526 33 26.9526C42.0642 26.9526 50.2409 27.7379 56.1257 28.9946C59.0763 29.6246 61.3971 30.3622 62.956 31.1492C63.7371 31.5436 64.2761 31.9253 64.6075 32.2712C64.9349 32.6129 65 32.8529 65 32.9995C65 33.1461 64.9349 33.3862 64.6075 33.7278C64.2761 34.0737 63.7371 34.4555 62.956 34.8498C61.3971 35.6368 59.0763 36.3744 56.1257 37.0045C50.2409 38.2611 42.0642 39.0464 33 39.0464Z"
              stroke="white"
              stroke-width="2"
            />
          </svg>
        </div>
      </div>

      <div class="about-page-line showreel-line">
        <div class="showreel-line__row">
          <div class="mobile-hidden"></div>
          <div class="mobile-hidden"></div>
          <div class="mobile-hidden"></div>
          <div class="showreel-line__row-title">Услуги</div>
          <div class="mobile-hidden"></div>
        </div>
        <div class="showreel-line__row">
          <div class="about-page-line__image mobile-hidden"><img src="./img/about-2.jpg" alt="" /></div>
          <div class="mobile-hidden"></div>
          <div class="showreel-line__row-content">
            <div class="">
              Создаём бренды и трансформируем бизнес клиентов, благодаря синергии экспертиз в стратегии, брендинге,
              digital и технологиях.
            </div>
            <div class="about-page-line__image mobile-visible"><img src="./img/about-2.jpg" alt="" /></div>
            <div class="about-page-line__list">
              Исследования <br />
              Брендинг <br />
              Цифровой дизайн <br />
              Поддержка <br />
            </div>
          </div>
          <div class="mobile-hidden"></div>
          <div class="mobile-hidden"></div>
        </div>
      </div>

      <div class="showreel-line is-1">
        <div class="showreel-line__row-content mobile-visible">
          Мы работаем с компаниями, готовыми к изменениям, чтобы стать драйвером отрасли
        </div>
        <div class="showreel-line__row">
          <div class="mobile-hidden"></div>
          <div class="showreel-line__row-content mobile-hidden">
            Мы работаем с компаниями, готовыми к изменениям, чтобы стать драйвером отрасли
          </div>
          <div class="mobile-hidden"></div>
          <div class="showreel-line__row-title">
            Цифровой <br />
            дизайн
          </div>
          <div class="showreel-line__row-title">Брендинг</div>
        </div>
        <div class="showreel-line__row">
          <div class="mobile-hidden"></div>
          <div class="mobile-hidden"></div>
          <div class="mobile-hidden"></div>
          <div>
            Исследование<br />
            UX копирайтинг<br />
            Прототипирование<br />
            <br />
            UI дизайн<br />
            Арт-дирекшн<br />
            Контент<br />
            <br />
            UI kit<br />
            Дизайн-система<br />
            <br />
            Поддержка
          </div>
          <div>
            Нейминг<br />
            Исследование<br />
            Стратегия<br />
            <br />
            Логотип<br />
            Корпоративная айдентика<br />
            Motion дизайн<br />
            Контент<br />
            <br />
            Стайлгайд<br />
            Брендбук<br />
            <br />
            Сопровождение
          </div>
        </div>
      </div>

      <div class="about-page-footer">
        <div class="mobile-hidden"></div>
        <div class="about-page-footer__img">
          <img src="./img/about-3.jpg" alt="" />
        </div>
        <div class="mobile-hidden"></div>
        <div class="about-page-footer__content">
          <div class="about-page-footer__content-heading">Подход и принципы</div>
          <div class="about-page-footer__content-text">
            Наши решения основанына исследованиях и глубоком понимании трендов, нацелены на изменения, инновации
            в бизнесе и улучшение жизни людей. Мы выступаем стратегическим партнёром, смотрим в будущее и создаём
            фундамент для роста и масштаба.
          </div>
        </div>
        <div class="mobile-hidden"></div>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/popups/popups.html")
    @@include("../blocks/modules/trailer/trailer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
