<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="case-start">
        <img src="./img/case-detail-1.jpg" alt="" class="fit-cover" />

        <div class="case-start__content">
          <div class="case-start__title">Cosmosexx*</div>
          <div class="case-start__content-bottom">
            <a href="#" class="case-start__content-link is-custom-link" target="_blank">/ link to project</a>
            <div class="case-start__content-bottom-right">
              <div class="case-start__content-info">
                <div>брендинг</div>
                <div>упаковка</div>
                <div>веб</div>
              </div>
              <div class="case-start__content-date">2024</div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <section class="case-section type-1">
          <div>
            <div class="case-section__content-inner case-section__text">
              Хотим поделиться с вами особенностью секс-шопа Cosmosex - возможностью получить грамотную консультацию
              практикующего сексолога и помощь в выборе товаров, независимо от вашего местоположения
            </div>
          </div>
          <div class="case-section__image-box" style="background-color: #1be7b6">
            <img src="./img/case-content-img-1.png" alt="" />
          </div>
        </section>

        <section class="case-section type-2">
          <div class="case-section__content">
            <div class="case-section__content-inner case-section__text">
              Премиальное миллезимное шампанское, ставшее эталоном для производителей игристого вина во всем мире. Яркий
              напиток с безупречным вкусом производится из винограда, собранного в регионах со статусом гран-крю или
              премье крю. Выпуск шампанского Дом Периньон"налажен с 1936 года, но технология изготовления оттачивается
              производителем с XVII века.
            </div>
          </div>
          <div class="case-section__images-container">
            <div class="case-section__image-box" style="background-color: #1be7b6">
              <img src="./img/case-content-img-2.png" alt="" />
            </div>
            <div class="case-section__image-box" style="background-color: #f1f614">
              <img src="./img/case-content-img-3.png" alt="" />
            </div>
          </div>
          <div class="case-section__center-text">
            <div class="case-section__center-text-inner">
              Выпуск шампанского “Дом Периньон" налажен с 1936 года, но технология изготовления оттачивается
              производителем с XVII века.
            </div>
          </div>
        </section>

        <section class="case-section type-3">
          <div class="case-section__content">
            <div class="case-section__content-inner case-section__text">
              Премиальное миллезимное шампанское, ставшее эталоном для производителей игристого вина во всем мире. Яркий
              напиток с безупречным вкусом производится из винограда, собранного в регионах со статусом гран-крю или
              премье крю. Выпуск шампанского Дом Периньон"налажен с 1936 года, но технология изготовления оттачивается
              производителем с XVII века.
            </div>
          </div>
          <div class="case-section__center-media" style="background-color: #cea278">
            <img src="./img/case-content-img-4.png" alt="" />
          </div>
        </section>

        <div class="case-more">
          <div class="showreel-link">
            <a href="#" class="is-custom-link">все проекты</a>
          </div>
          <div class="mobile-hidden"></div>
          <div class="mobile-hidden"></div>
          <div>
            <a href="#" class="project-card is-medium animated">
              <div class="project-card__top">
                <div class="project-card__name" data-splitting>заголовок проекта</div>
                <div class="project-card__top-right">
                  <div class="project-card__date" data-splitting>2024</div>
                </div>
              </div>
              <div class="project-card__image">
                <div class="card__img" style="background-image: url(./img/showreel-2.jpg)"></div>
                <img src="./img/showreel-2.jpg" alt="" class="fit-cover" />
              </div>
            </a>
          </div>
          <div>
            <a href="#" class="project-card is-medium animated">
              <div class="project-card__top">
                <div class="project-card__name" data-splitting>заголовок проекта</div>
                <div class="project-card__top-right">
                  <div class="project-card__date" data-splitting>2024</div>
                </div>
              </div>
              <div class="project-card__image">
                <div class="card__img" style="background-image: url(./img/showreel-5.jpg)"></div>
                <img src="./img/showreel-5.jpg" alt="" class="fit-cover" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/popups/popups.html")
    @@include("../blocks/modules/trailer/trailer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
