<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page">
      <div class="showreel container">
        <div class="showreel-container is-1">
          <div class="showreel-item is-1">
            <a
              href="https://www.youtube.com/watch?v=xeDIEH2wwmI"
              class="project-card is-large interactable animated"
              data-type="video"
              data-fancybox="showreeal-1"
            >
              <div class="project-card__top">
                <div class="project-card__name" data-splitting>intro</div>
                <div class="project-card__top-right">
                  <div class="project-card__info">
                    <div data-splitting>showreel</div>
                    <div data-splitting>00 — 1</div>
                    <div data-splitting>1:56</div>
                  </div>
                  <div class="project-card__date" data-splitting>2024</div>
                </div>
              </div>
              <div class="project-card__image">
                <img src="./img/showreel-1.jpg" alt="" class="fit-cover" />
              </div>
            </a>
          </div>
          <div class="showreel-item"></div>
          <div class="showreel-item"></div>
          <div class="showreel-item is-2">
            <div class="showreel-title-box">
              <div class="showreel-title-box__title">Из тени в звёзды</div>
              <div class="showreel-title-box__text sub-20">
                Цифровой дизайн для продуктов, брендов, людей которые не боятся ломать шаблоны и становиться лидерами
                рынка
              </div>
            </div>
          </div>

          <div class="showreel-item"></div>
          <div class="showreel-item"></div>
          <div class="showreel-item is-3">
            <a href="#" class="project-card is-medium animated">
              <div class="project-card__top">
                <div class="project-card__name" data-splitting>заголовок проекта</div>
                <div class="project-card__top-right">
                  <div class="project-card__date" data-splitting>2024</div>
                </div>
              </div>
              <div class="project-card__image">
                <div class="card__img" style="background-image: url(./img/showreel-7.jpg)"></div>
                <img src="./img/showreel-2.jpg" alt="" class="fit-cover" />
              </div>
            </a>
          </div>
          <div class="showreel-item"></div>
          <div class="showreel-item is-4">
            <a href="#" class="project-card is-medium animated">
              <div class="project-card__top">
                <div class="project-card__name" data-splitting>заголовок проекта</div>
                <div class="project-card__top-right">
                  <div class="project-card__date" data-splitting>2024</div>
                </div>
              </div>
              <div class="project-card__image">
                <div class="card__img" style="background-image: url(./img/showreel-3.jpg)"></div>
                <img src="./img/showreel-3.jpg" alt="" class="fit-cover" />
              </div>
            </a>
          </div>
        </div>
        <div class="showreel-line is-1">
          <div class="showreel-line__row">
            <div></div>
            <div class="showreel-line__row-content">
              Независимое агентство с глубокой экспертизой, амбициозными идеями и большим сердцем 
            </div>
            <div></div>
            <div class="showreel-line__row-title">
              Цифровой <br />
              дизайн
            </div>
            <div class="showreel-line__row-title">Брендинг</div>
          </div>
          <div class="showreel-line__row">
            <div></div>
            <div></div>
            <div></div>
            <div>
              Исследование<br />
              UX копирайтинг<br />
              Прототипирование<br />
              <br />
              UI дизайн<br />
              Арт-дирекшн<br />
              Контент<br />
              <br />
              UI kit<br />
              Дизайн-система<br />
              <br />
              Поддержка
            </div>
            <div>
              Нейминг<br />
              Исследование<br />
              Стратегия<br />
              <br />
              Логотип<br />
              Корпоративная айдентика<br />
              Motion дизайн<br />
              Контент<br />
              <br />
              Стайлгайд<br />
              Брендбук<br />
              <br />
              Сопровождение
            </div>
          </div>
        </div>
        <div class="showreel-container is-2">
          <div class="showreel-item is-1">
            <a
              href="https://www.youtube.com/watch?v=AIGnRc7F86Q"
              class="project-card interactable is-large animated"
              data-type="video"
              data-fancybox="showreeal-2"
            >
              <div class="project-card__top">
                <div class="project-card__name" data-splitting>заголовок проекта</div>
                <div class="project-card__top-right">
                  <div class="project-card__info">
                    <div data-splitting>брендинг</div>
                    <div data-splitting>упаковка</div>
                    <div data-splitting>веб</div>
                  </div>
                  <div class="project-card__date" data-splitting>2024</div>
                </div>
              </div>
              <div class="project-card__image">
                <img src="./img/showreel-4.jpg" alt="" class="fit-cover" />
              </div>
            </a>
          </div>
          <div class="showreel-item"></div>
          <div class="showreel-item"></div>
          <div class="showreel-item"></div>

          <div class="showreel-item"></div>
          <div class="showreel-item is-2">
            <a href="#" class="project-card is-medium animated">
              <div class="project-card__top">
                <div class="project-card__name" data-splitting>заголовок проекта</div>
                <div class="project-card__top-right">
                  <div class="project-card__date" data-splitting>2024</div>
                </div>
              </div>
              <div class="project-card__image">
                <div class="card__img" style="background-image: url(./img/showreel-6.jpg)"></div>
                <img src="./img/showreel-6.jpg" alt="" class="fit-cover" />
              </div>
            </a>
          </div>
          <div class="showreel-item"></div>

          <div class="showreel-item"></div>
          <div class="showreel-item is-4">
            <a href="#" class="project-card is-medium animated">
              <div class="project-card__top">
                <div class="project-card__name" data-splitting>заголовок проекта</div>
                <div class="project-card__top-right">
                  <div class="project-card__date" data-splitting>2024</div>
                </div>
              </div>
              <div class="project-card__image">
                <div class="card__img" style="background-image: url(./img/showreel-5.jpg)"></div>
                <img src="./img/showreel-5.jpg" alt="" class="fit-cover" />
              </div>
            </a>
          </div>
        </div>
        <div class="showreel-line is-2">
          <div class="showreel-line__row">
            <div class="showreel-line__row-content">
              Помогаем брендам построить будущее, в котором дизайн станет неотъемлемой частью их успеха.
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="showreel-line__row">
            <div></div>
            <div></div>
            <div></div>
            <div class="showreel-line__row-content is-1">
              Создаем уникальные, разнообразные и конкурентоспособные решения в постоянно меняющейся цифровой среде.
            </div>
            <div class="showreel-line__row-content">
              Наша цель — помогать компаниям и продуктам становится заметнее и ближе к потребителям.
            </div>
          </div>
        </div>
        <div class="showreel-container is-3">
          <div class="showreel-item is-1">
            <a href="#" class="project-card is-large animated">
              <div class="project-card__top">
                <div class="project-card__name" data-splitting>заголовок проекта</div>
                <div class="project-card__top-right">
                  <div class="project-card__info">
                    <div data-splitting>брендинг</div>
                    <div data-splitting>упаковка</div>
                    <div data-splitting>веб</div>
                  </div>
                  <div class="project-card__date" data-splitting>2024</div>
                </div>
              </div>
              <div class="project-card__image">
                <div class="card__img" style="background-image: url(./img/showreel-7.jpg)"></div>
                <img src="./img/showreel-7.jpg" alt="" class="fit-cover" />
              </div>
            </a>
          </div>
          <div class="showreel-item"></div>
          <div class="showreel-item"></div>
          <div class="showreel-item is-2">
            <a href="#" class="project-card is-medium animated">
              <div class="project-card__top">
                <div class="project-card__name" data-splitting>заголовок проекта</div>
                <div class="project-card__top-right">
                  <div class="project-card__date" data-splitting>2024</div>
                </div>
              </div>
              <div class="project-card__image">
                <div class="card__img" style="background-image: url(./img/showreel-8.jpg)"></div>
                <img src="./img/showreel-8.jpg" alt="" class="fit-cover" />
              </div>
            </a>
          </div>
          <div class="showreel-item"></div>

          <div class="showreel-item"></div>
          <div class="showreel-item is-3">
            <a href="#" class="project-card is-medium animated">
              <div class="project-card__top">
                <div class="project-card__name" data-splitting>заголовок проекта</div>
                <div class="project-card__top-right">
                  <div class="project-card__date" data-splitting>2024</div>
                </div>
              </div>
              <div class="project-card__image">
                <div class="card__img" style="background-image: url(./img/showreel-9.jpg)"></div>
                <img src="./img/showreel-9.jpg" alt="" class="fit-cover" />
              </div>
            </a>
          </div>
          <div class="showreel-item"></div>

          <div class="showreel-item">
            <div class="showreel-link">
              <a href="#" class="is-custom-link">все проекты</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/popups/popups.html")
    @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
