<!DOCTYPE html>
<html lang="ru">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")
    <main class="page projects-page container">
      <div class="projects-page__start-content">
        <div class="projects-page__start-content-inner">
          <div class="projects-page__start-content-heading">Проекты</div>
          <div class="projects-page__start-content-text sub-20">
            Мы проектируем, разрабатываем и поставляем цифровые продукты, которые приносят успех нашим клиентам
            благодаря свежим веб-сайтам, сильным системам брендов и привлекательному креативному контенту.
          </div>
        </div>
      </div>
      <div class="projects-grid">
        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-1.jpg)"></div>
              <img src="./img/showreel-1.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>
        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-2.jpg)"></div>
              <img src="./img/showreel-2.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>
        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-3.jpg)"></div>
              <img src="./img/showreel-3.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>
        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-4.jpg)"></div>
              <img src="./img/showreel-4.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>
        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-5.jpg)"></div>
              <img src="./img/showreel-5.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>

        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-1.jpg)"></div>
              <img src="./img/showreel-1.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>
        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-2.jpg)"></div>
              <img src="./img/showreel-2.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>
        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-3.jpg)"></div>
              <img src="./img/showreel-3.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>
        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-4.jpg)"></div>
              <img src="./img/showreel-4.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>
        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-5.jpg)"></div>
              <img src="./img/showreel-5.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>

        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-6.jpg)"></div>
              <img src="./img/showreel-6.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>
        <div class="projects-grid__item">
          <a href="#" class="project-card animated">
            <div class="project-card__top">
              <div class="project-card__name" data-splitting>заголовок проекта</div>
              <div class="project-card__top-right">
                <div class="project-card__info">
                  <div data-splitting>брендинг</div>
                  <div data-splitting>упаковка</div>
                  <div data-splitting>веб</div>
                </div>
                <div class="project-card__date" data-splitting>2024</div>
              </div>
            </div>
            <div class="project-card__image">
              <div class="card__img" style="background-image: url(./img/showreel-7.jpg)"></div>
              <img src="./img/showreel-7.jpg" alt="" class="fit-cover" />
            </div>
          </a>
        </div>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html") @@include("../blocks/modules/popups/popups.html")
    @@include("../blocks/modules/trailer/trailer.html") @@include("../blocks/modules/scripts/scripts.html")
  </body>
</html>
